<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/download.css">
    <title>Files</title>
</head>
<body>
    <div class="header">
        <form action="/files" method="GET">
            <button class='head-button' type="submit">Files</button>
            <p class = header-p>Upload</p>
        </form>
    </div>
    <div class="uploads">
        <form method="POST" enctype="multipart/form-data" action="/upload">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </div>
    <h1 class="update">{{ update_string }}</h1>
</body>
</html>